<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AnalyserBestPractis_Dynamics365.Properties.SettingsBP" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="AnalyserBestPractis_Dynamics365.Properties.ModelList" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="AnalyserBestPractis_Dynamics365.VerticalList" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AnalyserBestPractis_Dynamics365.Properties.SettingsBP>
            <setting name="AxEnum" serializeAs="String">
                <value>[SPD][ObjectName]</value>
            </setting>
            <setting name="AxEdt" serializeAs="String">
                <value>[SPD][ObjectName]</value>
            </setting>
            <setting name="AxEdtExtension" serializeAs="String">
                <value>[ObjectName].[SPD]</value>
            </setting>
            <setting name="AxEnumExtension" serializeAs="String">
                <value>[ObjectName].[SPD]</value>
            </setting>
            <setting name="AxClass" serializeAs="String">
                <value>[SPD][ObjectName]</value>
            </setting>
            <setting name="AxFormExtension" serializeAs="String">
                <value>[ObjectName].[SPD]</value>
            </setting>
            <setting name="AxLabelFile" serializeAs="String">
                <value>[SPD][ObjectName]</value>
            </setting>
            <setting name="AxMap" serializeAs="String">
                <value>[SPD][ObjectName]</value>
            </setting>
            <setting name="AxMapExtension" serializeAs="String">
                <value>[ObjectName].[SPD]</value>
            </setting>
            <setting name="AxMenu" serializeAs="String">
                <value>[SPD][ObjectName]</value>
            </setting>
            <setting name="AxMenuExtension" serializeAs="String">
                <value>[ObjectName].[SPD]</value>
            </setting>
            <setting name="AxMenuItemAction" serializeAs="String">
                <value>[SPD][ObjectName]</value>
            </setting>
            <setting name="AxMenuItemActionExtension" serializeAs="String">
                <value>[ObjectName].[SPD]</value>
            </setting>
            <setting name="AxMenuItemDisplay" serializeAs="String">
                <value>[SPD][ObjectName]</value>
            </setting>
            <setting name="AxMenuItemDisplayExtension" serializeAs="String">
                <value>[ObjectName].[SPD]</value>
            </setting>
            <setting name="AxMenuItemOutput" serializeAs="String">
                <value>[SPD][ObjectName]</value>
            </setting>
            <setting name="AxMenuItemOutputExtension" serializeAs="String">
                <value>[ObjectName].[SPD]</value>
            </setting>
            <setting name="AxPage" serializeAs="String">
                <value>[SPD][ObjectName]</value>
            </setting>
            <setting name="AxQuery" serializeAs="String">
                <value>[SPD][ObjectName]</value>
            </setting>
            <setting name="AxReport" serializeAs="String">
                <value>[SPD][ObjectName]</value>
            </setting>
            <setting name="AxResource" serializeAs="String">
                <value>[SPD][ObjectName]</value>
            </setting>
            <setting name="AxRuleSet" serializeAs="String">
                <value>[SPD][ObjectName]</value>
            </setting>
            <setting name="AxSecurityDuty" serializeAs="String">
                <value>[SPD][ObjectName]</value>
            </setting>
            <setting name="AxSecurityPolicy" serializeAs="String">
                <value>[SPD][ObjectName]</value>
            </setting>
            <setting name="AxSecurityPrivilege" serializeAs="String">
                <value>[SPD][ObjectName]</value>
            </setting>
            <setting name="AxSecurityRole" serializeAs="String">
                <value>[SPD][ObjectName]</value>
            </setting>
            <setting name="AxService" serializeAs="String">
                <value>[SPD][ObjectName]</value>
            </setting>
            <setting name="AxTable" serializeAs="String">
                <value>[SPD][ObjectName]</value>
            </setting>
            <setting name="AxTile" serializeAs="String">
                <value>[SPD][ObjectName]</value>
            </setting>
            <setting name="AxView" serializeAs="String">
                <value>[SPD][ObjectName]</value>
            </setting>
            <setting name="AxViewExtension" serializeAs="String">
                <value>[ObjectName].[SPD]</value>
            </setting>
        </AnalyserBestPractis_Dynamics365.Properties.SettingsBP>
        <AnalyserBestPractis_Dynamics365.Properties.ModelList>
            <setting name="SILCOMKER" serializeAs="String">
                <value>Automotive;GMAO</value>
            </setting>
            <setting name="SILCOMBAS" serializeAs="String">
                <value>Automotive</value>
            </setting>
            <setting name="SILCOMMAN" serializeAs="String">
                <value>Automotive</value>
            </setting>
            <setting name="SILCOMINT" serializeAs="String">
                <value>Automotive</value>
            </setting>
            <setting name="SILGMAO" serializeAs="String">
                <value>GMAO</value>
            </setting>
            <setting name="Trigramme" serializeAs="String">
                <value>SIL</value>
            </setting>
        </AnalyserBestPractis_Dynamics365.Properties.ModelList>
        <AnalyserBestPractis_Dynamics365.VerticalList>
            <setting name="Automotive" serializeAs="String">
                <value />
            </setting>
            <setting name="GMAO" serializeAs="String">
                <value />
            </setting>
        </AnalyserBestPractis_Dynamics365.VerticalList>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.TeamFoundation.Common" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Services.Common" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Services.WebApi" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>